@import '../../../styles/variable.scss';

.heading-primary {
	font-family: $font-primary !important;
	color: $color-primary !important;
	letter-spacing: 0.8rem !important;
	text-transform: uppercase;
}

.para {
	font-size: inherit !important;
}
