$color-primary: #ab987a;
$color-secondary: #ff533d;
$color-white: #fff;
$color-black: #000;

$font-primary: 'Patrick Hand', cursive;
$font-secondary: 'Poppins', sans-serif;
$font-tertiary: 'Roboto', sans-serif;
